# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  build_feature:
    docker:
      - image: circleci/node:10.15.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn install
      - run: yarn build
  build_master:
    docker:
      - image: circleci/node:10.15.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: git config --global user.email $USER_EMAIL
      - run: git config --global user.name "${CIRCLE_USERNAME}"
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: yarn install
      - run: yarn lerna:version
      - run: yarn build
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn lint
      - run: yarn test:unit
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - store_artifacts:
          path: coverage
      - codecov/upload:
          file: coverage/lcov.info

  deploy:
    docker:
      - image: circleci/node:10.15.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn ow:config
      - run: yarn deploy

  publish:
    docker:
      - image: circleci/node:10.15.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn lerna:publish

workflows:
  version: 2
  build_deploy_publish:
    jobs:
      - build_feature:
          filters:
            branches:
              only: /feature.*/
      - build_master:
          filters:
            branches:
              only: master
      - hold: # <<< A job that will require manual approval in the CircleCI web application.
          type: approval # <<< This key-value pair will set your workflow to a status of "On Hold"
          requires:
            - build_master
      - deploy:
          requires:
            - build_master
          filters:
            branches:
              only: master
      - publish:
          requires:
            - deploy
          filters:
            branches:
              only: master
