service: hybris

package:
  individually: true
  exclude:
    - ./**

provider:
  name: openwhisk
  runtime: nodejs:10
  ignore_certs: true
  defaultService: hybris
  service: ${opt:service, self:provider.defaultService}

custom:
  npm-version: ${file(package.json):name}@${file(package.json):version}
  ow-package: ${opt:ow-package, self:custom.npm-version}

plugins:
  - serverless-openwhisk
  - serverless-webpack

resources:
  packages: ${file(../common/serverlessPackageConfig.js)}

functions:
  validateGetProductService:
    name: ${self:custom.ow-package}/validateGetProductService
    handler: lib/validations/products.getById
    concurrency: 500

  getProductService:
    name: ${self:custom.ow-package}/getProductService
    handler: lib/actions/products.getById
    concurrency: 500

  validateSearchProductsService:
    name: ${self:custom.ow-package}/validateSearchProductsService
    handler: lib/validations/products.search
    concurrency: 500

  searchProductsService:
    name: ${self:custom.ow-package}/searchProductsService
    handler: lib/actions/products.search
    concurrency: 500
